openapi: 3.0.3
info:
  title: Furry.ist Public APIs
  version: "1.1.1"
  description: |
    Furry.ist 公共 API 文档
    - Furry 图片接口 /furry-img/（支持 3 个域名）
    - IP 信息接口 /ipapi（仅支持 sni-api.furry.ist）

# 全局 servers：只用于 ipapi（仅 SNI 支持）
servers:
  - url: https://sni-api.furry.ist
    description: Cloudflare CDN（SNI）— ipapi 仅此域名支持

tags:
  - name: FurryImage
    description: Furry 图片接口
  - name: IPAPI
    description: IP 信息接口（ipapi）

paths:
  /furry-img/:
    # 仅图片接口覆盖 servers：支持三个域名（都支持全部参数）
    servers:
      - url: https://api.furry.ist
        description: 主站 API（图片接口）
      - url: https://furry.axzt.top
        description: 国内推荐 CDN（图片接口）
      - url: https://sni-api.furry.ist
        description: Cloudflare CDN（SNI，图片接口）
    get:
      tags: [FurryImage]
      summary: 获取一张 furry 图片
      operationId: getFurryImage
      description: |
        查询参数均为可选：
        - format=json|file：json 返回图片链接；file 直接返回图片内容
        - redirect=1|0：1 则 302 跳转至图片 URL；0 不跳转
        - mode=auto|box|large：auto 自动判断；box 倾向竖屏；large 倾向横屏
      parameters:
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, file]
            default: json
          description: 返回格式
        - name: redirect
          in: query
          required: false
          schema:
            type: string
            enum: ["0", "1"]
            default: "0"
          description: 是否 302 跳转到图片
        - name: mode
          in: query
          required: false
          schema:
            type: string
            enum: [auto, box, large]
            default: auto
          description: 图片模式
      responses:
        "200":
          description: 成功（可能返回 JSON 或图片二进制，取决于参数）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FurryImageJson"
              examples:
                sample:
                  summary: JSON 返回示例
                  value:
                    url: "https://example.com/path/to/image.jpg"
            image/*:
              schema:
                type: string
                format: binary
        "302":
          description: 重定向到图片 URL（通常由 redirect=1 触发）
          headers:
            Location:
              description: 重定向目标图片 URL
              schema:
                type: string
                format: uri

  /ipapi:
    get:
      tags: [IPAPI]
      summary: 获取当前访问 IP 的信息（仅 SNI 域名）
      operationId: getMyIpApi
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpApiResponse"
              examples:
                sample:
                  summary: 响应示例
                  value:
                    ipapi:
                      ip: "1.1.1.1"
                      hostname: "one.one.one.one"
                      anycast: true
                      city: "Brisbane"
                      region: "Queensland"
                      country: "AU"
                      loc: "-27.4679,153.0281"
                      postal: "9010"
                      timezone: "Australia/Brisbane"
                      asn:
                        asn: "AS13335"
                        name: "Cloudflare, Inc."
                        domain: "cloudflare.com"
                        route: "1.1.1.0/24"
                        type: "hosting"
                      company:
                        name: "APNIC and Cloudflare DNS Resolver project"
                        domain: "cloudflare.com"
                        type: "hosting"
                      privacy:
                        vpn: true
                        proxy: false
                        tor: false
                        relay: false
                        hosting: true
                        service: "AngelVPN"
                      abuse:
                        address: "PO Box 3646, South Brisbane, QLD 4101, Australia"
                        country: "AU"
                        email: "helpdesk@apnic.net"
                        name: "ABUSE APNICRANDNETAU"
                        network: "1.1.1.0/24"
                        phone: "+000000000"
                      domains:
                        ip: "1.1.1.1"
                        total: 30006
                        domains:
                          - "furry.ist"
                    code: 200

  /ipapi/{ip}:
    get:
      tags: [IPAPI]
      summary: 获取指定 IP(v4/v6) 的信息（仅 SNI 域名）
      operationId: getIpApiByIp
      parameters:
        - name: ip
          in: path
          required: true
          schema:
            type: string
          description: IPv4 或 IPv6 地址
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpApiResponse"
              examples:
                sample:
                  summary: 响应示例
                  value:
                    ipapi:
                      ip: "1.1.1.1"
                      hostname: "one.one.one.one"
                      anycast: true
                      city: "Brisbane"
                      region: "Queensland"
                      country: "AU"
                      loc: "-27.4679,153.0281"
                      postal: "9010"
                      timezone: "Australia/Brisbane"
                      asn:
                        asn: "AS13335"
                        name: "Cloudflare, Inc."
                        domain: "cloudflare.com"
                        route: "1.1.1.0/24"
                        type: "hosting"
                      company:
                        name: "APNIC and Cloudflare DNS Resolver project"
                        domain: "cloudflare.com"
                        type: "hosting"
                      privacy:
                        vpn: true
                        proxy: false
                        tor: false
                        relay: false
                        hosting: true
                        service: "AngelVPN"
                      abuse:
                        address: "PO Box 3646, South Brisbane, QLD 4101, Australia"
                        country: "AU"
                        email: "helpdesk@apnic.net"
                        name: "ABUSE APNICRANDNETAU"
                        network: "1.1.1.0/24"
                        phone: "+000000000"
                      domains:
                        ip: "1.1.1.1"
                        total: 30006
                        domains:
                          - "furry.ist"
                    code: 200

components:
  schemas:
    FurryImageJson:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: 图片直链 URL

    IpApiResponse:
      type: object
      properties:
        ipapi:
          $ref: "#/components/schemas/IpApiData"
        code:
          type: integer
          example: 200

    IpApiData:
      type: object
      properties:
        ip:
          type: string
          example: "1.1.1.1"
        hostname:
          type: string
          example: "one.one.one.one"
        city:
          type: string
        region:
          type: string
        country:
          type: string
        loc:
          type: string
          description: 纬度,经度（lat,lng）
          example: "34.0522,-118.2437"
        postal:
          type: string
        timezone:
          type: string
        asn:
          $ref: "#/components/schemas/IpApiASN"
        company:
          $ref: "#/components/schemas/IpApiCompany"
        privacy:
          $ref: "#/components/schemas/IpApiPrivacy"
        abuse:
          $ref: "#/components/schemas/IpApiAbuse"
        domains:
          $ref: "#/components/schemas/IpApiDomains"

    IpApiASN:
      type: object
      properties:
        asn:
          type: string
          example: "AS906"
        name:
          type: string
        domain:
          type: string
        route:
          type: string
        type:
          type: string
          example: "hosting"

    IpApiCompany:
      type: object
      properties:
        name:
          type: string
        domain:
          type: string
        type:
          type: string

    IpApiPrivacy:
      type: object
      properties:
        vpn:
          type: boolean
        proxy:
          type: boolean
        tor:
          type: boolean
        relay:
          type: boolean
        hosting:
          type: boolean
        service:
          type: string

    IpApiAbuse:
      type: object
      properties:
        address:
          type: string
        country:
          type: string
        email:
          type: string
        name:
          type: string
        network:
          type: string
        phone:
          type: string

    IpApiDomains:
      type: object
      properties:
        page:
          type: integer
        total:
          type: integer
        domains:
          type: array
          items:
            type: string
